@import "app/libs/magnific-popup/dist/magnific-popup" // Импортируем библиотеку Magnific Popup

body
  background-color: green
  margin-top: 0px
  margin-left: auto
  margin-right: auto
  display: block
  max-width: 1024px
  height: 100%

#page
  display: grid
  grid-template-columns: auto auto auto
  grid-template-rows: auto auto auto
  overflow: auto
  justify-self: center
  align-self: center

#header
  grid-column: 2
  grid-row: 1
  height: 40px
  background: rgba(255, 0, 0, 0.5)
  top: 0
  min-height: 2em



  nav
    width: 100%
  nav ul
    display: flex
    justify-content: space-around
    li
      list-style-type: none
    a
      color: green
      text-decoration: none

#content
  grid-column: 2
  grid-row: 2



#asetsleft
  grid-column: 1
  grid-row: 2
  background: #f0f0f0
  padding: 10px
  width: 300px
  float: right
  display: none
#asetsricht
  grid-column: 3
  grid-row: 2
  background: #f0f0f0
  padding: 10px
  width: 300px
  float: left
  display: none



#footer
  display: flex



